.footer {
  display: flex;
  border-radius: 15px;
  background-image: url(../img/photo_2021-05-23_11-52-17.jpg);
  width: 150px;
  height: 150px;
}
.footer-title {
  color: #fff;
  font-size: 36px;
}
.footer-title__list {
  border-radius: 15px;
  background-color: aquamarine;
}
.footer-title__link {
  color: #252525;
}
.footer-bg {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}
