@font-face {
	font-family: Anybody;
	font-display: swap;
	src: url("../fonts/Anybody-ExtraLight.woff2") format("woff2"), url("../fonts/Anybody-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: Anybody;
	font-display: swap;
	src: url("../fonts/Anybody-Bold.woff2") format("woff2"), url("../fonts/Anybody-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Anybody;
	font-display: swap;
	src: url("../fonts/Anybody-Medium.woff2") format("woff2"), url("../fonts/Anybody-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Anybody;
	font-display: swap;
	src: url("../fonts/Anybody-Regular.woff2") format("woff2"), url("../fonts/Anybody-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Anybody;
	font-display: swap;
	src: url("../fonts/Anybody-SemiBold.woff2") format("woff2"), url("../fonts/Anybody-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Anybody;
	font-display: swap;
	src: url("../fonts/Anybody-Thin.woff2") format("woff2"), url("../fonts/Anybody-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: Anybody;
	font-display: swap;
	src: url("../fonts/Anybody-Black.woff2") format("woff2"), url("../fonts/Anybody-Black.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MontserratAlternates;
	font-display: swap;
	src: url("../fonts/MontserratAlternates-Light.woff2") format("woff2"), url("../fonts/MontserratAlternates-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Anybody;
	font-display: swap;
	src: url("../fonts/Anybody-Light.woff2") format("woff2"), url("../fonts/Anybody-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Anybody;
	font-display: swap;
	src: url("../fonts/Anybody-ExtraBold.woff2") format("woff2"), url("../fonts/Anybody-ExtraBold.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
